{% extends 'base.html' %}

{% block body %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include 'header.html' with {'no_login_button':true} %}
    <main class="mdl-layout__content">
        <div class="container">
            <h2>Se connecter</h2>
            <p>
                <form method="post" enctype="multipart/form-data" action="/login?redirect={{ redirect_to }}">
                    <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label class="mdl-textfield__label" for="pseudo" >Pseudo</label>
                            <input class="mdl-textfield__input" for="pseudo" name="username" type="text">
                        </div>
                    </div>
                    <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label class="mdl-textfield__label" for="password" >Mot de passe</label>
                            <input class="mdl-textfield__input" id="password" name="password" type="password">
                        </div>
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Connexion</button>
                </form>
            </p>
        </div>
    </main>
</div>
{% endblock %}