{% extends 'base.html' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <style>.post { color: initial; }</style>
    <div class="container text-center">
        <div style="font-size: 100px;"><img class="profil_pic" src="/public/img/user/{{ user.avatar }}" alt="{{ user.pseudo }} avatar"></div>
        <h2>{{ user.pseudo }}<span class="text-help" title="utilisateur #{{ user.user_id }}">#{{ user.user_id }}</span></h2>
        <p><i>{% if user.description %}{{ user.description|markdown|raw }}{% else %}{{ user.pseudo }} n'a pas de description{% endif %}</i></p>
        {% for post in user.posts %}
            <a href="/p/{{ post['project_id'] }}#{{ post['id'] }}">
                <div class="post">
                    {# content #}
                        {% if post['content_type'] == 'file' %}
                            <img src="/public/img/post/{{ post['content'] }}" alt="image sans description">
                        {% else %}
                            <div class="post-text">{{ post['content']|markdown|striptags('<p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|raw }}</div>
                        {% endif %}
                    <div class="post-more">
                        <div class="post-more-nav">
                            <div class="post-infos list-inline">
                                <span>{{ post['posted_on']|timeago }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
