{% extends 'base.html' %}

{% block title %}{{ user.pseudo }} | tifod{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <style>.post { color: initial; }</style>
    <div class="container text-center">
        <div style="font-size: 200px;"><img class="profil_pic" src="/public/img/user/{{ user.avatar }}" alt="{{ user.pseudo }} avatar"></div>
        <h2>{{ user.pseudo }}</h2>
        {% if user.description %}<p>{{ user.description|markdown|striptags('<a><p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|raw }}</p>{% endif %}
		<p class="list-inline">
			{% if 'delete_user'|is_allowed_for('platform') and user.user_id != current_user.user_id %}<a href="/delete-user/{{ user.user_id }}" class="text-danger">Supprimer cet utilisateur</a>{% endif %}
			<a href="/u">Voir tous les utilisateurs</a>
		</p>
	</div>
	{% if not user.posts %}
		<div class="container"><em>{{ user.pseudo }} n'a pas encore créé de contenu</em></div>
	{% else %}
		<div class="posts posts-list">
			{% for post in user.posts %}
				<a href="{% if post.is_an_edit %}/edit/{{ post.parent_id ~ '#' ~ post.id }}{% else %}/p/{{ post.project_id ~ '#' ~ post.id }}{% endif %}">
					<div class="post">
						{# content #}
							{% if post.content_type == 'file' %}
								<img src="/public/img/post/{{ post.content }}" alt="image sans description">
							{% else %}
								<div class="post-text">{{ post.content|markdown|striptags('<p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|raw }}</div>
							{% endif %}
						<div class="post-more">
							{% if post.parent_id == 0 %}<hr>{% endif %}
							<div class="post-more-nav">
								<div class="post-infos list-inline{% if post.parent_id == 0 %} text-center{% endif %}">
									{% if post.parent_id == 0 %}
										<div><span class="fa fa-fw fa-book"></span> Projet créé <span title="{{ post.posted_on }}">{{ post.posted_on|timeago }}</span></div>
									{% elseif post.is_an_edit %}
										<div><span class="fa fa-fw fa-pencil"></span> Modification proposé <span title="{{ post.posted_on }}">{{ post.posted_on|timeago }}</span> dans "<strong>{{ post.project_name }}</strong>"</div>
									{% else %}
										<div><span title="{{ post.posted_on }}">{{ post.posted_on|timeago }}</span> dans "<strong>{{ post.project_name }}</strong>"</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
