{% extends 'base.html' %}

{% block body %}
    {% include 'header.html' %}
    <div class="container text-center">
        <div class="form-card">
            <h3>S'inscrire</h3>
            <p>Veuillez entrer votre adresse email pour que l'on vous envoie un lien pour valider votre inscription</p>
            <form method="post" class="list-inline" enctype="multipart/form-data" action="/signup">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label">Email</label>
                    <input class="mdl-textfield__input" name="email" type="text">
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Créer un compte</button>
            </form>
        </div>
    </div>
{% endblock %}