{% extends 'base.html' %}

{% block title %}Profil des utilisateurs{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <div class="container">
        <h2 class="text-center">Profil des utilisateurs</h2>
        {% for user in users %}
            <div>
                <big class="list-inline">
                    <img class="profil_pic" src="/public/img/user/{{ user.avatar }}" alt="{{ user.user_name }} avatar"><a href="/u/{{ user.user_id }}">{{ user.user_name }}</a>{% if 'delete_user'|is_allowed_for('platform') and user.user_id != current_user.user_id %}<a href="/delete-user/{{ user.user_id }}" class="text-danger">Supprimer cet utilisateur</a>{% endif %}<span>A posté {{ user.post_amount }} posts</span>
                </big>
            </div>
        {% endfor %}
    </div>
{% endblock %}