<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Espace membre</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/signup">Créer un compte</a></li>
        <li><a href="/u">Voir tous les membres</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Projets</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/p">Voir les projets existants</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Nous contacter</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a target="_blank" href="http://facebook.com/tifodpage">Facebook</a></li>
        <li><a href="mailto:contact@tifod.com?subject=A propos de ...&body=Bonjour! Je voulais savoir ...">Email</a></li>
      </ul>
    </div>
  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Tifod{% if dev_mode %}<span style="font-weight: 300"> | beta</span>{% endif %}</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Revenir en haut</a></li>
    </ul>
  </div>

</footer>