<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Liens utiles</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/u">Liste des membres</a></li>
                <li><a href="/p">Projets existants</a></li>
                <li><a href="/about">À propos</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Nous contacter</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a target="_blank" href="http://fb.co/tifodpage"><i class="fa fa-lg fa-facebook-square fa-fw"></i>Facebook</a></li>
                <li><a target="_blank" href="http://bit.ly/tifod_discord"><i class="fa fa-fw fa-lg fa-comments"></i>Discord</a></li>
                <li><a href="mailto:contact@tifod.com?subject=A propos de ...&body=Bonjour! Je voulais savoir ..."><i class="fa fa-fw fa-lg fa-envelope"></i> Par email</a></li>
            </ul>
        </div>

    </div>
    
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">Tifod{% if dev_mode %}<span style="font-weight: 300"> | beta</span>{% endif %}</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Revenir en haut</a></li>
        </ul>
    </div>
</footer>