<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Liens utiles</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/u">Liste de tous les membres</a></li>
                <li><a href="/p">Liste des projets existants</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Nous rejoindre</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a target="_blank" href="http://fb.co/tifodpage"><i class="fa fa-lg fa-facebook-square fa-fw"></i> Notre page</a></li>
                <li><a href="mailto:contact@tifod.com?subject=A propos de ...&body=Bonjour! Je voulais savoir ..."><i class="fa fa-fw fa-lg fa-envelope"></i> Envoyer un mail</a></li>
                <li><a target="_blank" href="http://bit.ly/tifod_discord"><!-- Discord icon by Icons8 --><img src="https://png.icons8.com/discord/color/24" title="Discord" width="24" height="24"> Discord</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">A propos du site</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a target="_blank" href="http://github.com/tifod/tifod-website">Voir le code source sur Github</a></li>
                <li><a href="/about">Page explicative</a></li>
            </ul>
        </div>

    </div>
    
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">Tifod{% if dev_mode %}<span style="font-weight: 300"> | beta</span>{% endif %}</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Revenir en haut</a></li>
        </ul>
    </div>
</footer>