<div class="header container{% if no_login_button %} text-center{% endif %}">
    <a class="header-tifod-logo" href="/">tifod{% if dev_mode %}<span style="font-weight: 300"> | beta</span>{% endif %}</a>
    {% if not no_login_button %}
        {% if current_user %}
            <div class="header-right">
                <label id="header-user-infos" class="header-user-infos list-inline">
                    <img src="/public/img/user/{{ current_user.avatar }}">
                    <span>{{ current_user.pseudo }}</span>
                    <i class="fa fa-caret-down"></i>
                </label>
            
                <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="header-user-infos">
                    <a href="/u/{{ current_user.user_id }}" class="mdl-menu__item list-inline"><img class="profil_pic" src="/public/img/user/{{ current_user.avatar }}">Votre profil</a>
                    <a href="/settings" class="mdl-menu__item list-inline"><i class="fa fa-cog"></i>Paramètres</a>
                    <a href="/logout?redirect={{ current_url }}" class="mdl-menu__item">Déconnexion</a>
                </div>
            </div>
        {% else %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent header-right" href="/login?redirect={{ current_url }}">Connexion</a>
        {% endif %}
    {% endif %}
</div>