{% extends 'base.html' %}

{% block body %}
    {% include 'header.html' %}
    <div class="container text-center">
        <div class="form-card">
            <h3>Réinitialiser son mot de passe</h3>
            {% if token_sent %}
				<p>Veuillez consultez vos emails ({{ email|raw }}) pour réinitialiser votre mot de passe.
                <hr>
                <p>Si vous ne recevez aucun email, et que ce n'est pas dans vos spams, cela peut vouloir dire que vous vous êtes inscrit avec une autre adresse email et que vous venez de vous tromper en rentrant votre adresse email.</p>
            {% else %}
                <p>Veuillez entrer votre adresse email pour qu'on vous y envoie un lien pour réinitialiser votre mot de passe</p>
                <form method="get" class="list-inline" action="/password_reset">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label">Email</label>
                        <input class="mdl-textfield__input" name="email" type="text">
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Réinitialiser</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}