{% extends 'base.html' %}

{% block title %}Inscription | tifod{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <div class="container text-center">
        <div class="form-card">
            {% if token_sent %}
                <h3>On y est presque!</h3>
                <p>Veuillez consultez vos emails ({{ email|raw }}) pour confirmer votre inscription.
                <hr>
                <p>Si ce n'est pas votre adresse email, veuillez <a href="/signup">revenir en arrière</a> et indiquer l'adresse correcte.</p>
                <p>Si vous ne recevez aucun email d'ici 15 minutes, veuillez vérifier que l'email ne se trouve pas dans vos spams.</p>
                <p>Si vous ne l'avez toujours pas reçus, <a href="mailto:contact@tifod.com?subject=Email de confirmation manquant pour {{ email }}">contactez nous</a>.</p>
            {% else %}
                <h3>S'inscrire</h3>
                <p>Veuillez entrer votre adresse email pour qu'on vous y envoie un lien pour valider votre inscription</p>
                <form method="get" class="list-inline" action="/signup">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label">Email</label>
                        <input class="mdl-textfield__input" name="email" type="text">
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Créer un compte</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}