body {
    color: #333;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.list-inline>* { display: inline-block; margin-right: 5px; }
.header { height: 56px; display: flex; }
.header>* {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
.header-tifod-logo {
    text-decoration: none;
    color: #333;
    font-weight: 900;
    font-size: 28px;
}
.text-center .header-tifod-logo { margin: auto; }
.header-tifod-logo:hover { color: rgb(68,138,255); }
.header-right {
    margin-left: auto;
    position: relative;
}
.header-user-infos {
    display: inline-block;
    padding: 5px;
    color: gray;
    font-weight: 700;
    cursor: pointer;
}
.header-user-infos:hover { color: black; }
.header-user-infos img {
    height: 2em;
    width: auto;
}

.profil_pic { height: 1em; width: auto; }

.form-card {
    margin: 1em 0;
    display: inline-block;
    max-width: 425px;
    border-radius: 5px;
    border: solid #ddd 1px;
    border-bottom-width: 3px;
    background-color: white;
}
.form-card>* {
    margin: 24px;
    max-width: 60vw;
}

#project-player { margin: auto; }
.container { max-width: 80vw; margin: auto; }
body { color: #333; background-color: #eee; }
img { width: 100%; height: auto; }
.url-like {
    color: rgb(68,138,255);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.text-danger { color: red; }
.text-primary { color: #448AFF; }
.text-initial { color: initial; }
.text-center { text-align: center; }

.text-help { color: darkgray; font-size: 80%; }
.post-siblings-nav {
    display: inline-block;
    bottom: 24px;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.post-siblings-nav, .prev, .next { cursor: pointer; }
.prev, .next {
    text-shadow: 0 1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white;
    opacity: 0.5;
    top: 50%;
    width: 4em;
    z-index: 3;
    position: absolute;
}
.prev>*, .next>* {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link-btn {
    vertical-align: middle;
    background-color: #bbb;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.link input[type=radio] { display: none; }
.link input[type=radio]:checked + .link-btn { background-color: black; }

#project-player { transition: height .5s; }
.post-level:not(.active-level) { display: none; }
.posts {
    width: 81vw;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.posts::-webkit-scrollbar { display: none; }
.posts > * { display: inline-block; white-space: initial; }
.post-siblings {
    display: inline-block;
    position: relative;
}
.post {
    margin: 0.5em 1em 0.5em 0;
    vertical-align: top;
    display: inline-block;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    border: solid #ddd 1px;
    border-bottom-width: 3px;
    background-color: white;
}
.post>img {
    margin-left: 1px;
    width: calc(100% - 1px);
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px #ddd;
}
.post-text>* {
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin: 1em;
}

.post-more {
    margin: 1em;
}
.many-posts .post-more {
    margin-bottom: 48px;
}
.post-more-nav {
    display: flex;
}
.post-more-btn {
    margin-left: auto;
}
.post-more-menus {
	position: fixed;
	z-index: 10;
	top: 50% !important;
    left: 50%;
}
.post-more-menus>*{
	position: absolute;
	top: 0 !important;
	transform: translate(50%,-50%);
}

#project-tree-section { position: relative; z-index: 1; }
.tree-post {
    cursor: pointer;
    width: 200px;
    display: inline-block;
    padding: 0.5em;
    overflow: auto;
    word-wrap: break-word;
    background-color: white;
    border-radius: 3px;
    border: solid #ddd;
    border-width: 0 1px 2px 1px;
    transition: background-color .5s;
}
.tree-post p { margin: 0; }
.tree-post img { width: 100%; height: auto; }
.tree-post:hover, .tree-post-active { background-color: rgba(0,0,0,0.2); }

.checkbox-more, .post-more-form { display: none; }
.checkbox-more:checked ~ .post-more-form { display: initial; }
.drawing-board {
    position: relative;
    z-index: 10;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}
.drawing-board-wrapper { overflow: auto; }

/* tablet (768px) and smaller */
@media screen and (max-width: 768px){
    body::-webkit-scrollbar { display: none; }
    :root { --width: 100vw; }
    .prev, .next { display: initial; }
    .prev { left: 0; }
    .next { right: 0; }
}
/* tablet (768px) to laptop (1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    :root { --width: 600px; }
    .prev, .next { display: initial; }
    .prev { left: 0; }
    .next { right: 0; }
}
/* laptop (1024px) and bigger */
@media screen and (min-width: 1024px){
    :root { --width: 768px; }
    .prev, .next { display: initial; }
    .prev { left: -50px; }
    .next { right: -50px; }
}
#project-player, .posts { width: var(--width); }
.post { width: calc(var(--width) - 2px); }