#project-player { margin: auto; }
.container { max-width: 80vw; margin: auto; }
body { background-color: #eee; }
img { width: 100%; height: auto; }

.post-siblings-nav {
    display: inline-block;
    bottom: 24px;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.post-siblings-nav, .prev, .next {
    opacity: 0.2;
    transition: opacity .5s;
    cursor: pointer;
}
.post-siblings-nav:hover, .prev:hover, .next:hover { opacity: 1; }
.prev, .next {
    height: 100%;
    width: 4em;
    z-index: 3;
    position: absolute;
}
.prev>*, .next>* {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link-btn {
    vertical-align: middle;
    background-color: gray;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.link input[type=radio] { display: none; }
.link input[type=radio]:checked + .link-btn {
    padding: 2px;
    background-color: black;
}

#project-player { transition: height .5s; }
.post-level:not(.active-level) { display: none; }
.posts {
    width: 81vw;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.posts::-webkit-scrollbar { display: none; }
.posts > * { display: inline-block; white-space: initial; }
.post-siblings {
    display: inline-block;
    position: relative;
}
.post {
    margin: 0.5em 2px 0.5em 0;
    vertical-align: top;
    display: inline-block;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 2px 1px;
    background-color: white;
}
.post img { border-radius: 3px; }
.post-more-label { text-align: center; display: inline-block; width: 100%; cursor: pointer; }

.post-more-label>h3 { margin: 12px 1em; }
.many-posts .post-more-label>h3 { margin: 12px 1em 36px 1em; }
.post-checkbox, .post-more { display: none; }
.post-checkbox:checked ~ .post-more { display: initial; }
.list-inline>* { display: inline-block; margin-right: 5px; }

.post-more {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
.post-more>label {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.post-more-content {
    text-align: initial;
    display: inline-block;
    z-index: 5;
    margin: 0 1em;
    padding: 0 1em;
}
.post-more-content>* {
    position: relative;
    z-index: 4;
    margin: 1em;
    padding: 1em;
    background-color: white;
}
.exit-btn { cursor: pointer; float: right; }
.post-preview>* { display: inline-block; border: solid 1px #ddd; }
.post-preview>img { max-height: 20vh; width: auto; }
.add-content-btn { float: right; }
.add-content-btn>* {
    position: fixed;
    transform: translate(-100%,0);
    bottom: 1em;
    z-index: 6;
}
.add-content-btn+* {
    position: relative;
    z-index: 7;
}

#project-tree-section { position: relative; z-index: 1; }
.tree-post {
    cursor: pointer;
    width: 200px;
    display: inline-block;
    padding: 0.5em;
    overflow: auto;
    word-wrap: break-word;
    background-color: white;
    border-radius: 3px;
    border: solid #ddd;
    border-width: 0 1px 2px 1px;
    transition: background-color .5s;
}
.tree-post img { width: 100%; height: auto; }
.tree-post:hover, .tree-post-active { background-color: rgba(0,0,0,0.2); }

.drawing-board {
    position: relative;
    z-index: 10;
    margin-bottom: 33px;
    width: 600px;
    height: 400px;
}
.drawing-board-wrapper { overflow: auto; }

/* tablet (768px) and smaller */
@media screen and (max-width: 768px){
    body::-webkit-scrollbar, .post-more::-webkit-scrollbar { display: none; }
    :root { --width: 100vw; }
    .prev, .next { display: initial; }
    .prev { left: 0; }
    .next { right: 0; }
}
/* tablet (768px) to laptop (1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    :root { --width: 600px; }
    .prev, .next { display: initial; }
    .prev { left: 0; }
    .next { right: 0; }
}
/* laptop (1024px) and bigger */
@media screen and (min-width: 1024px){
    :root { --width: 768px; }
    .prev, .next { display: initial; }
    .prev { left: -50px; }
    .next { right: -50px; }
}
#project-player, .posts { width: var(--width); }
.post { width: calc(var(--width) - 2px); }
.post-more-content { width: calc(var(--width) - 4em); }