body {
    color: #47525d;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
body>.container:not(.header):not(.project-tree) { min-height: 40vh; margin-bottom: 5em; }
img.pixelated { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.mdl-snackbar--active { z-index: 100; }
.list-inline>* { display: inline-block; margin-right: 5px; }
.header { min-height: 56px; display: flex; }
.header>* {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
.header-tifod-logo {
    text-decoration: none;
    color: #47525d;
    font-weight: 900;
    font-size: 28px;
}
.text-center .header-tifod-logo { margin: auto; }
.header-tifod-logo:hover { color: rgb(68,138,255); }
.header-right {
    margin-left: auto;
    position: relative;
}
.header-user-infos {
    display: inline-block;
    padding: 5px;
    color: gray;
    font-weight: 700;
    cursor: pointer;
}
.header-user-infos:hover { color: black; }
.header-user-infos img {
    height: 2em;
    width: auto;
}

.profil_pic { height: 1em; width: auto; }

.form-card {
    margin: 1em 0;
    display: inline-block;
    max-width: 425px;
    border-radius: 5px;
    border: solid #ddd 1px;
    border-bottom-width: 3px;
    background-color: white;
}
.form-card>* {
    margin: 24px;
    max-width: 60vw;
}

.container { max-width: 80vw; margin: auto; }
body { color: #47525d; background-color: #f6f9fc; }
img { max-width: 100%; width: auto; height: auto; max-height: 90vh; }
.url-like {
    color: rgb(68,138,255);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.text-danger { color: red; }
.text-primary { color: #448AFF; font-weight: 500; }
.text-initial { color: initial; font-weight: initial; }
.text-click { cursor: pointer; }
.text-center { text-align: center; margin: auto; }
.text-regular-weight { font-weight: 400; }
.text-heavy { font-weight: 700; }
.text-really-heavy { font-weight: 900; }
.text-no-decoration { text-decoration: none; }

.text-help { color: darkgray; font-size: 80%; }
.post-siblings-nav {
    display: inline-block;
    bottom: 0;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.post-siblings-nav, .prev, .next { cursor: pointer; }
.prev, .next {
    text-shadow: 0 1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white;
    opacity: 0.5;
    height: 100%;
    width: 4em;
    z-index: 3;
    position: absolute;
}
.prev>*, .next>* {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link-btn {
    vertical-align: middle;
    background-color: #bbb;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
}
.link input[type=radio] { display: none; }
.link input[type=radio]:checked + .link-btn {
	background-color: black;
	transform: scale(1.5,1.5);
}

#project-player {
    width: var(--width);
    transition: height .5s;
    margin: auto;
}
.post-level:not(.active-level) { display: none; }
.posts, .project-header {
    width: var(--width);
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}
.project-header * { max-width: var(--width); }
.project-header {
    display: block;
    white-space: initial;
}
.project-header .text-center { margin-left: 1em; margin-right: 1em; }
.posts::-webkit-scrollbar { display: none; }
.posts > * { display: inline-block; white-space: initial; }
.posts-list, .posts-list > * {
    display: block;
    margin: auto;
    overflow: initial;
}
.post-siblings {
    display: inline-block;
    position: relative;
}
.post {
    width: calc(var(--width) - 2px);
    margin: 0.5em 1em 0.5em 0;
    vertical-align: top;
    display: inline-block;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    border: solid #ddd 1px;
    border-bottom-width: 3px;
    background-color: white;
}
.post-blue-border { border-color: #448AFF; }
.post>img {
    display: block;
    margin: auto;
    max-width: calc(100% - 1px);
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px #ddd;
}
.post-text>* {
    line-height: 1;
    text-align: center;
    margin: 1em;
}
.post-text p, .post-text div, .post-text li { font-size: 28px; }
.post li { text-align: initial; }

.mdl-textfield { vertical-align: middle; }
.post-more {
    min-height: 0px;
    height: 0px;
    opacity: 0;
    margin: 0px;
    transition: margin .5s, min-height .5s, opacity .5s;
    display: none;
}
.post-more-transition {
    display: block;
}
.post-more-displayed, .post-edit .post-more {
    display: block;
    margin: 1em;
    min-height: 36px;
    height: auto;
    opacity: 1;
}

.post-more-nav {
    display: flex;
    align-items: center;
}
.post-infos { white-space: nowrap; }
.post-more-btn {
    text-align: right;
    margin-left: auto;
}
.post-more-menus {
	position: fixed;
	z-index: 10;
	top: 50% !important;
    left: 50%;
}
.post-more-menus>*{
	position: absolute;
	top: 0 !important;
	transform: translate(50%,-50%);
}

#project-tree-section { position: relative; z-index: 1; }
.tree-post {
    cursor: pointer;
    width: 200px;
    display: inline-block;
    padding: 0.5em;
    overflow: auto;
    word-wrap: break-word;
    background-color: white;
    border-radius: 3px;
    border: solid #ddd;
    border-width: 0 1px 2px 1px;
    transition: background-color .5s;
}
.tree-post * { margin: 0; line-height: 1.5; }
.tree-post h1, .tree-post h2, .tree-post h3 { font-size: 18px; font-weight: 500; }
.tree-post img { max-width: 100%; display: block; margin: auto; float: none !important; }
.tree-post:hover, .tree-post-active { background-color: rgba(0,0,0,0.2); }

.checkbox-more, .post-more-form { display: none; }
.checkbox-more:checked ~ .post-more-form { display: initial; }
.drawing-board {
    position: relative;
    z-index: 10;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}
.drawing-board-wrapper { overflow: auto; }

/* tablet (768px) and smaller */
@media screen and (max-width: 768px){
    body::-webkit-scrollbar { display: none; }
    :root { --width: 100vw; }
    .prev, .next { display: none; }
	.link-btn {
		height: 15px;
		width: 15px;
	}
}
/* tablet (768px) to laptop (1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    :root { --width: 600px; }
    .prev, .next { display: initial; }
    .prev { left: -75px; }
    .next { right: -75px; }
}
/* laptop (1024px) and bigger */
@media screen and (min-width: 1024px){
    :root { --width: 768px; }
    .prev, .next { display: initial; }
    .prev { left: -100px; }
    .next { right: -100px; }
}