<form class="list-inline text-center" action="/add-post" method="post">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">Envoyez du texte</label>
        <textarea id="{{ post.id }}-text-form" class="mdl-textfield__input" type="text" name="content" data-postid="{{ post.id }}" rows= "2"></textarea>
    </div>
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised">Envoyer</button>
    </div>
    
    <input type="hidden" name="is_an_edit" value="{% if current_page_is_edit_page %}true{% else %}false{% endif %}">
    <input type="hidden" name="parent_id" value="{{ post.id }}">
</form>
<div class="text-help text-center">Nous supportons <a target="_blank" href="http://tifod.com/blog/markdown">la syntaxe Markdown</a></div>