<div>
    <form action="javascript:void(0);">
        <p class="list-inline">
            <label class="list-inline">
                <span>Importer un fichier à modifier</span>
                <br><input onclick="this.value='';" class="drawing-board-import" type="file" data-postid="{{ post['id'] }}">
                <span class="file-dimensions"></span>
            </label>
        </p>
        <p class="list-inline">
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" >Largeur du dessin</label>
                <input class="mdl-textfield__input drawingboard-width-input" type="text" data-postid="{{ post['id'] }}">
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label">Hauteur du dessin</label>
                <input class="mdl-textfield__input drawingboard-height-input" type="text" data-postid="{{ post['id'] }}">
            </div>
        </p>
    </form>
    <form class="drawing-form text-center" action="/add-post" method="post" enctype="multipart/form-data">
        <div class="drawing-board-wrapper">
            <div class="drawing-board" id="{{ post['id'] }}-drawing-board"></div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Envoyer votre dessin</button>
        
        
        <input type="hidden" name="is_an_edit" value="{% if current_page_is_edit_page %}true{% else %}false{% endif %}">
        <input type="hidden" name="image" value="">
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
    </form>
    <hr>
    <div class="text-center">Ou envoyez autre chose</div>
    <form class="text-center" action="/add-post" method="post" enctype="multipart/form-data">
        <p class="list-inline">
            <input type="file" name="image">
            <button class="mdl-button mdl-js-button mdl-button--raised">Envoyer un fichier</button>
        </p>
        
        <input type="hidden" name="is_an_edit" value="{% if current_page_is_edit_page %}true{% else %}false{% endif %}">
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
    </form>
    <form class="list-inline text-center" action="/add-post" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label">Ou bien, envoyer du texte</label>
            <input class="mdl-textfield__input drawingboard-height-input" type="text" name="content" data-postid="{{ post['id'] }}">
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised">Envoyer</button>
        
        <input type="hidden" name="is_an_edit" value="{% if current_page_is_edit_page %}true{% else %}false{% endif %}">
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
    </form>
    <div class="text-help text-center">Nous supportons <a href="http://tifod.com/blog/markdown">la syntaxe Markdown</a></div>
</div>