<div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="{{ post['id'] }}-more">
	{% if 'pin_post'|is_allowed_for(project_type) %}
		{% if post['user_id_pin'] != 0 %}
			<a href="/togglePin/{{ post['id'] }}?redirect=/p/{{ projectId }}" class="mdl-menu__item list-inline"><i class="fa fa-thumb-tack fa-fw"></i>Supprimer l'épingle</a>
		{% else %}
			<a href="/togglePin/{{ post['id'] }}?redirect=/p/{{ projectId }}" class="mdl-menu__item list-inline"><i class="fa fa-thumb-tack fa-fw"></i>Epingler</a>
		{% endif %}
	{% endif %}
	{% if 'delete_post'|is_allowed_for(project_type) %}
		<a class="mdl-menu__item list-inline" onclick="return confirm('Êtes vous sûrs?')" href="/delete-post/{{ post['id'] }}?redirect=/p/{{ projectId }}"><i class="fa fa-trash text-danger fa-fw"></i>Supprimer</a>
	{% endif %}
	{% if 'reset_score_post'|is_allowed_for(project_type) %}
		<a class="mdl-menu__item list-inline" onclick="return confirm('Êtes vous sûrs?')" href="/resetPostScore/{{ post['id'] }}?redirect=/p/{{ projectId }}"><i class="fa fa-undo fa-fw"></i>Ramener le score à zéro</a>
	{% endif %}
	{% if not is_edit %}
		<a href="/edit/{{ post['id'] }}" class="mdl-menu__item list-inline"><i class="fa fa-pencil fa-fw"></i>Modifier</a>
		<a href="#{{ post['id'] }}-post-tree" class="mdl-menu__item list-inline tree-link" data-scroll><i class="fa fa-code-fork fa-flip-vertical fa-fw"></i>Voir dans l'arborescence</a>
		<span id="{{ post['id'] }}-share-btn" data-msg="URL copié" class="mdl-menu__item list-inline btn-copy-js" data-clipboard-text="http://{{ server_name }}/p/{{ projectId }}#{{ post['id'] }}"><i class="fa fa-fw fa-link"></i>Copier l'URL</span>
	{% endif %}
</div>