{# template utilisé quand un projet est vide et pour ajouter du contenu à chaque post #}
<div>
    <form action="javascript:void(0);">
        <p class="list-inline">
            <label class="list-inline">
                Importer un fichier
                <br><input onclick="this.value='';" class="" type="file" onchange="handleImage()" data-postid="{{ post['id'] }}">
                <span class="file-dimensions"></span>
            </label>
        </p>
        <p class="list-inline">
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for="{{ post['id'] }}-drawingboard-largeur" >Largeur du dessin</label>
                <input class="mdl-textfield__input drawingboard-width-input" type="text" data-postid="{{ post['id'] }}">
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for="{{ post['id'] }}-drawingboard-hauteur" >Hauteur du dessin</label>
                <input class="mdl-textfield__input drawingboard-height-input" type="text" data-postid="{{ post['id'] }}">
            </div>
        </p>
    </form>
    <form class="drawing-form" action="/add-post" method="post">
        <div class="drawing-board-wrapper">
            <div class="drawing-board" id="{{ post['id'] }}-drawing-board"></div>
        </div>
        <p>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Envoyer</button>
        </p>
        
        <input type="hidden" name="image" value="">
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
        <input type="hidden" name="project_id" value="{{ projectId }}">
    </form>
</div>