{# template utilisé quand un projet est vide et pour ajouter du contenu à chaque post #}
<div>
    <form action="javascript:void(0);">
        <p class="list-inline">
            <label class="list-inline">
                Importer un fichier
                <br><input onclick="this.value='';" class="" type="file" onchange="handleImage()" data-postid="{{ post['id'] }}">
                <span class="file-dimensions"></span>
            </label>
        </p>
        <p class="list-inline">
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" >Largeur du dessin</label>
                <input class="mdl-textfield__input drawingboard-width-input" type="text" data-postid="{{ post['id'] }}">
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label">Hauteur du dessin</label>
                <input class="mdl-textfield__input drawingboard-height-input" type="text" data-postid="{{ post['id'] }}">
            </div>
        </p>
    </form>
    <form class="drawing-form text-center" action="/add-post" method="post">
        <div class="drawing-board-wrapper">
            <div class="drawing-board" id="{{ post['id'] }}-drawing-board"></div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Envoyer votre dessin</button>
        
        <input type="hidden" name="image" value="">
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
        <input type="hidden" name="project_id" value="{{ projectId }}">
    </form>
    <form class="list-inline text-center" action="/add-post" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label">Ou bien, envoyer du texte</label>
            <input class="mdl-textfield__input drawingboard-height-input" type="text" name="content" data-postid="{{ post['id'] }}">
            <div class="text-help">Nous supportons <a href="https://seps.flibuste.net/markdown_help">la syntaxe Markdown</a></div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised">Envoyer</button>
        
        <input type="hidden" name="parent_id" value="{{ post['id'] }}">
        <input type="hidden" name="project_id" value="{{ projectId }}">
    </form>
</div>