{% set children = post['children'] %}

<div class="post-siblings">
    {# nav bar #}
    {% if children|length > 1 %}
        <div class="prev"><i class="fa fa-chevron-left fa-2x"></i></div>
        <div class="next"><i class="fa fa-chevron-right fa-2x"></i></div>
        <div class="post-siblings-nav">
            <form>
                {% for t_child in children %}
                    <label class="link" data-target="{{ t_child['id'] }}">
                        <input type="radio" id="{{ t_child['id'] }}-radio-button" class="link-radio-button" name="radio-{{ post['id'] }}" {% if loop.first %}checked{% endif %} />
                        <div class="link-btn"></div>
                        {% set loopfirstparent = loop.first %}
                    </label>
                {% endfor %}
            </form>
        </div>
    {% endif %}
    
    {# posts #}
    <div class="posts{% if children|length > 1 %} many-posts{% endif %}">
    {% for child in children %}
        {% set lastChild = children[children|length - 1] %}        
        <div>
            <div class="post{% if loop.first %} active-post{% endif %}" id="{{ child['id'] }}" data-path="{{ child['path'] }}">
        
                {# content #}
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/public/img/post/{{ child['content'] }}">
                
                {# post infos #}
                {% include "/post/post-infos.html" with {'post':child} %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{# post children #}
{% for child in children%}
    {% if child['children'] %}
        <div class="post-level{% if loop.first %} active-level{% endif %}" id="{{ child['id'] }}-children">
                {% include "post/branch.html" with {'post': child} %}
        </div>
    {% endif %}
{% endfor %}