{% set children = post.children %}

<div class="post-siblings">
    {# nav bar #}
    {% include 'post/post_navbar.html' %}
    
    {# posts #}
    <div class="posts{% if children|length > 1 %} many-posts{% endif %}">
    {% set lastChild = children[children|length - 1] %}        
    {% for post in children %}
        {% include 'post/post-content.html' %}
    {% endfor %}
    </div>
</div>

{# post children #}
{% for post in children %}
    {% if post.children %}
        <div class="post-level{% if loop.first %} active-level{% endif %}" id="{{ post.id }}-children">
            {% include "post/branch.html" %}
        </div>
    {% endif %}
{% endfor %}