{% set current_page_is_edit_page = true %}

{% extends 'base.html' %}

{% block title %}Modifications post #{{ parent_post.id }} | tifod{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>$(document).bind("mobileinit", function(){$.extend(  $.mobile , {autoInitializePage: false})});</script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium|Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css">
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<link rel="stylesheet" href="/min/?f=/public/perso/project.css,/public/drawingboard/drawingboard.min.css"/>
<script src="/min/?f=/public/unveil.js,/public/drawingboard/drawingboard.min.js,/public/treant/vendor/raphael.js"></script>
<style>.post { margin-right: 0; }</style>
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<div class="posts posts-list">
    <div class="container">
        <p>
            <a class="mdl-button mdl-js-button mdl-button--raised" href="/p/{{ parent_post.project_id }}#{{ parent_post.id }}"><i class="fa fa-fw fa-arrow-left"></i> Retour</a>
        </p>
        <p>
            {% if parent_post.auto_pin_edits == '1' %}<span class="fa fa-thumb-tack"></span> Tous les posts ci dessous sont automatiquement épinglés{% endif %}
        </p>
    </div>
    <div>
        <div class="post post-blue-border">
            <br>
            <p class="text-center">Post original</p>
            <hr>
            {% include 'post/post-infos.html' with {'post': parent_post} %}
            {# content #}
                {% if parent_post.content_type == 'file' %}
                    <img src="/public/img/post/{{ parent_post.content }}" alt="image sans description">
                {% else %}
                    <div class="post-text">{{ parent_post.content|markdown|striptags('<a><p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|break_attr|raw }}</div>
                {% endif %}
        </div>
    </div>
    {% for post in modifications %}
    <div>
        <div class="post{% if loop.first and post.user_id_pin != 0 %} post-blue-border{% endif %}" id="{{ post.id }}">
            {% if loop.first and post.user_id_pin != 0 %}
                <br>
                <p class="text-center">Modification acceptée</p>
                <hr>
            {% endif %}
            {% include 'post/post-infos.html' %}
            {# content #}
                {% if post.content_type == 'file' %}
                    <img src="/public/img/post/{{ post.content }}" alt="image sans description">
                {% else %}
                    {% if parent_post.parent_id == 0 %}
                        <div class="post-text"><h1>{{ post.content|markdown|striptags('<strong><em><del><span><div>')|raw }}</h1></div>
                    {% else %}
                        <div class="post-text">{{ post.content|markdown|striptags('<a><p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|raw }}</div>
                    {% endif %}
                {% endif %}
            {% include 'post/post-actions.html' %}
        </div>
    </div>
    {% endfor %}
</div>
{% if modifications|length == 0 %}
    <div class="container text-center"><hr><em>Aucune modification n'a été proposé à l'auteur du post ci dessus</em></div>
{% endif %}

{% if 'edit_post'|is_allowed_for(project_type) %}
    {% set post = parent_post %}
    <div class="container" id="{{ post.id }}">
        {% if parent_post.parent_id == 0 %}
            <h3>Proposer une modification</h3>
            <div class="mdl-grid">
                <div class="text-center">
                <form class="list-inline text-center" action="/add-post" method="post">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label">Envoyez du texte</label>
                        <input id="{{ post.id }}-text-form" class="mdl-textfield__input" type="text" name="content" data-postid="{{ post.id }}">
                    </div>
                    <div>
                        <button class="mdl-button mdl-js-button mdl-button--raised">Envoyer</button>
                    </div>
                    
                    <input type="hidden" name="is_an_edit" value="{% if current_page_is_edit_page %}true{% else %}false{% endif %}">
                    <input type="hidden" name="parent_id" value="{{ post.id }}">
                </form>
                <div class="text-help text-center">Attention seul les balises suivantes sont acceptés :<br><code><strong>&lt;strong&gt;</strong><em>&lt;em&gt;</em><del>&lt;del&gt;</del>&lt;span&gt;&lt;div&gt;</code>
                </div>
            </div>
        {% else %}
            {% include "post/post-more/add-content.html" %}
        {% endif %}
    </div>
    <script src="/public/perso/edit.js"></script>
{% endif %}

<div class="post-more-menus">
    {% include "post/post-more/post-more-menu.html" with {'post': parent_post} %}
    {% for post in modifications %}
        {% include "post/post-more/post-more-menu.html" %}
    {% endfor %}
</div>
{% endblock %}