<div>
    <div class="post{% if loop.first %} active-post{% endif %}" id="{{ post.id }}" data-path="{{ post.path }}">
        {% if post.edit_id != '0' %}
            {% set content_type = post.edit_content_type %}
            {% set content = post.edit_content %}
        {% else %}
            {% set content_type = post.content_type %}
            {% set content = post.content %}
        {% endif %}
        {% if content_type == 'file' %}
            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/public/img/post/{{ content }}" alt="image sans description">
        {% else %}
            <div class="post-text">{{ content|markdown|striptags('<a><p><strong><em><del><ul><ol><li><h1><h2><h3><h4><h5><h6><tr><th><thead><table><tbody><td><span><div>')|raw }}</div>
        {% endif %}
        
        {# post infos #}
        {% include "/post/post-infos.html" %}
    </div>
</div>