<div class="post-more">
    <div class="post-more-nav">
        <div class="post-infos list-inline">
            <a href="/u/{{ post['author_name']|lower }}">{{ post['author_name'] }}</a>
            <span>{{ post['posted_on']|timeago }}</span>
            <button id="{{ post['id'] }}-downvote" class="mdl-button mdl-js-button mdl-button--icon" onclick="{% if current_user %}ajaxPingUrl('/vote/minus/{{ post['id'] }}',this,updateScore){% else %}alert('Vous ne pouvez voter qu\'en étant connecté'){% endif %}"><span class="fa fa-caret-down"></span></button>
            <span class="mdl-tooltip mdl-tooltip--top post-score-minus" for="{{ post['id'] }}-downvote">{{ post['vote_minus'] }}</span>
            
            <span class="post-score">{{ post['score_result'] }}</span>
            
            <button id="{{ post['id'] }}-upvote" class="mdl-button mdl-js-button mdl-button--icon" onclick="{% if current_user %}ajaxPingUrl('/vote/plus/{{ post['id'] }}',this,updateScore){% else %}alert('Vous ne pouvez voter qu\'en étant connecté'){% endif %}"><span class="fa fa-caret-up"></span></button>
            <span class="mdl-tooltip mdl-tooltip--top post-score-plus" for="{{ post['id'] }}-upvote">{{ post['vote_plus'] }}</span>
            
            <a id="{{ post['id'] }}-tree-link" href="#{{ post['id'] }}-post-tree" class="tree-link mdl-button mdl-js-button mdl-button--icon" data-scroll>
                <i class="fa fa-code-fork fa-flip-vertical fa-lg fa-fw"></i>
            </a>
            <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-tree-link">Voir ce post dans l'arborescence du projet</span>
            
            <button id="{{ post['id'] }}-share-btn" data-msg="URL copié" class="mdl-button mdl-js-button mdl-button--icon btn-copy-js" data-clipboard-text="{{ server_name }}/p/{{ projectId }}#{{ post['id'] }}">
                <i class="fa fa-fw fa-link"></i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-share-btn">Copier l'URL de ce post</span>
            
            {% if post['user_id_pin'] != 0 %}
                <span>
                    {% if current_user %}<a href="/togglePin/{{ post['id'] }}?redirect=/p/{{ projectId }}" >{% endif %}
                        <span id="{{ post['id'] }}-toggle-pin" class="fa-stack fa-fw fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-thumb-tack fa-inverse fa-stack-1x"></i>
                        </span>
                    {% if current_user %}</a>{% endif %}
                    <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-toggle-pin">Épinglé par <strong>{% if current_user.user_id == post['user_id_pin'] %}vous-même{% else %}{{ post['user_pseudo_pin'] }}{% endif %}</strong></span>
                </span>
            {% else %}
                {% if current_user %}
                    <a id="{{ post['id'] }}-toggle-pin"class="mdl-button mdl-js-button mdl-button--icon"  href="/togglePin/{{ post['id'] }}?redirect=/p/{{ projectId }}" >
                        <i class="fa fa-thumb-tack fa-fw"></i>
                    </a>
                    <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-toggle-pin">Épingler ce post</span>
                {% endif %}
            {% endif %}
            
            {% if current_user %}
                <a id="{{ post['id'] }}-delete" class="mdl-button mdl-js-button mdl-button--icon" onclick="return confirm('Êtes vous sûrs?')" href="/delete-post/{{ post['id'] }}?redirect=/p/{{ projectId }}"><i class="fa fa-trash text-danger fa-fw"></i></a>
                <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-delete">Supprimer ce post</span>
                
                <a id="{{ post['id'] }}-resetScore" class="mdl-button mdl-js-button mdl-button--icon" href="/resetPostScore/{{ post['id'] }}?redirect=/p/{{ projectId }}">
                    <i class="fa fa-undo fa-fw"></i>
                </a>
                <span class="mdl-tooltip mdl-tooltip--top" for="{{ post['id'] }}-resetScore">Ramener le score à zéro</span>
            {% endif %}
        </div>
        
        {% if current_user %}
            <label class="list-inline post-more-btn" for="{{ post['id'] }}-checkbox-more">
                <span class="mdl-button mdl-js-button">
                    répondre
                </span>
            </label>
        {% endif %}
    </div>
    
    {% if current_user %}
        <input type="checkbox" id="{{ post['id'] }}-checkbox-more" class="checkbox-more" data-postid="{{ post['id'] }}">
        <div class="post-more-form">
            {% include "post/add-content.html" %}
        </div>
    {% endif %}
</div>