{% extends 'base.html' %}

{% if top_post.edit_id != '0' %}
    {% set project_title = top_post.edit_content %}
{% else %}
    {% set project_title = top_post.content %}
{% endif %}

{% block title %}"{{ project_title }}" | tifod{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">$(document).bind("mobileinit", function(){$.extend(  $.mobile , {autoInitializePage: false})});</script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium|Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css">
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<link rel="stylesheet" href="/min/?f=/public/perso/project.css,/public/treant/Treant.css,/public/drawingboard/drawingboard.min.css"/>
<script src="/min/?f=/public/unveil.js,/public/drawingboard/drawingboard.min.js,/public/treant/vendor/raphael.js,/public/treant/Treant.js,/public/perso/project.js"></script>
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<div id="{{ top_post.id }}" data-path="{{ top_post.path }}" class="project-header container text-center">
    <h2>{{ project_title }}</h2>
    <p class="list-inline">
        <span>
            Un projet de <img class="profil_pic" src="/public/img/user/{{ top_post.author_avatar }}"><a href="/u/{{ top_post.author_id }}">{{ top_post.author_name }}</a>
        </span>
        {% if 'delete_project'|is_allowed_for(project_type) %}
            <span>|</span>
            <a class="text-danger" onclick="return confirm('Êtes vous sûrs?')" href="/delete-post/{{ top_post.id }}">Supprimer ce projet</a>
        {% endif %}
        <br>
        <span>
            Ce projet est {% if project_type == 'open_public' %}visible de <strong>tous</strong>, et <strong>tous</strong> peuvent participer{% elseif project_type == 'closed_public' %}visible de <strong>tous</strong>, mais <strong>seuls les inscrits</strong> peuvent participer{% elseif project_type == 'closed_private' %}visible par <strong>les inscrits seulement</strong> et <strong>seuls les inscrits</strong> peuvent participer{% endif %}.
        </span>
    </p>
    <hr>
    {% include 'post/post-actions.html' with {'post' : top_post} %}
    <hr>
</div>
{% if project.children %}
    <div id="project-player">
        <div>
            {% include "post/branch.html" with {'post':project.children.0} %}
        </div>
		<div class="post-more-menus">
            {% include "post/post-more/post-more-branch.html" with {'post':project} %}
		</div>
    </div>
    <div class="container">
        <div id="project-tree-section">
            <h2><i class='fa fa-fw fa-code-fork fa-flip-vertical'></i> Arborescence du projet</h2>
            <p>
                <a href="#top" data-scroll>Revenir en haut de la page</a>
            </p>
        </div>            
    </div>
    <div id="project-tree"></div>
    <script>var tree_structure = {{ project_json.0|json_encode|raw }}, project_data = { 'last_posted_on' : "{{ last_posted_on }}", 'project_id' : {{ top_post.project_id }} };</script>
{% elseif 'add_post'|is_allowed_for(project_type) %}
    {% set post = top_post %}
    <div class="container" id="{{ post.id }}">
        {% include "post/post-more/add-content.html" %}
    </div>
{% else %}
    <div class="container text-center">
        <hr>
        <i>Aucun contenu pour le moment</i>
    </div>
{% endif %}
{% endblock %}