{% extends 'email/base.html' %}

{% block content %}
    <p style="margin: 20px 0;">Quelqu'un (vous, on espère) a voulu réinitialiser votre mot de passe pour votre compte Tifod.Pour changer votre mot de passe, veuillez suivre le lien ci dessous (ce lien est valide 1 heure à partir du moment où il vous a été envoyé):</p>
    <p style="margin: 20px 0;"><a href="http://{{ server_name }}/token/{{ token_key }}">http://{{ server_name }}/token/{{ token_key }}</a></p>
    <p style="margin: 20px 0;">Si vous ne voulez pas changer de mot de passe, vous pouvez simplement ignorer cet email.</p>
{% endblock %}